[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = {extras = ["standard"], version = "*"}
pynvim = "*"
autopep8 = "*"
sqlalchemy = "*"
pytest = "*"

[dev-packages]

[requires]
python_version = "3.8"
